h1{
   text-align:center:
   text-decoration:none;
   font-size:45px;
   padding-bottom:5px;
   border-bottom:1px solid black;
   color:#111111;
   

}
p tagline{
    text-align:center;
    font-size:10px;
    text-transform:uppercase;
    font-family:Helvetica;

}
body{
    font-family:'Arimo',sans-serif;
    margin:100px;
    padding:0;
    background:url(image.jpg);
    background-size:cover;
    background-position:center;
    

}

h3{
   color:#0074D9;

}

a{
 text-decoration:none;
 padding-bottom:1px;
 border-bottom:1px solid #8d8df3;
}
p description{

}
	
